
@font-face {
    font-family: 'Satoshi-Variable';
    src: url('/static/assets/fonts/Satoshi-Variable.woff2') format('woff2'),
         url('/static/assets/fonts/Satoshi-Variable.woff') format('woff'),
         url('/static/assets/fonts/Satoshi-Variable.ttf') format('truetype');
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('/static/assets/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
         url('/static/assets/fonts/Satoshi-VariableItalic.woff') format('woff'),
         url('/static/assets/fonts/Satoshi-VariableItalic.ttf') format('truetype');
         font-weight: 300 900;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Light';
    src: url('/static/assets/fonts/Satoshi-Light.woff2') format('woff2'),
         url('/static/assets/fonts/Satoshi-Light.woff') format('woff'),
         url('/static/assets/fonts/Satoshi-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('/static/assets/fonts/Satoshi-LightItalic.woff2') format('woff2'),
         url('/static/assets/fonts/Satoshi-LightItalic.woff') format('woff'),
         url('/static/assets/fonts/Satoshi-LightItalic.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Regular';
    src: url('/static/assets/fonts/Satoshi-Regular.woff2') format('woff2'),
         url('/static/assets/fonts/Satoshi-Regular.woff') format('woff'),
         url('/static/assets/fonts/Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Italic';
    src: url('/static/assets/fonts/Satoshi-Italic.woff2') format('woff2'),
         url('/static/assets/fonts/Satoshi-Italic.woff') format('woff'),
         url('/static/assets/fonts/Satoshi-Italic.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('/static/assets/fonts/Satoshi-Medium.woff2') format('woff2'),
         url('/static/assets/fonts/Satoshi-Medium.woff') format('woff'),
         url('/static/assets/fonts/Satoshi-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('/static/assets/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
         url('/static/assets/fonts/Satoshi-MediumItalic.woff') format('woff'),
         url('/static/assets/fonts/Satoshi-MediumItalic.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('/static/assets/fonts/Satoshi-Bold.woff2') format('woff2'),
         url('/static/assets/fonts/Satoshi-Bold.woff') format('woff'),
         url('/static/assets/fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('/static/assets/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
         url('/static/assets/fonts/Satoshi-BoldItalic.woff') format('woff'),
         url('/static/assets/fonts/Satoshi-BoldItalic.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Black';
    src: url('/static/assets/fonts/Satoshi-Black.woff2') format('woff2'),
         url('/static/assets/fonts/Satoshi-Black.woff') format('woff'),
         url('/static/assets/fonts/Satoshi-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('/static/assets/fonts/Satoshi-BlackItalic.woff2') format('woff2'),
         url('/static/assets/fonts/Satoshi-BlackItalic.woff') format('woff'),
         url('/static/assets/fonts/Satoshi-BlackItalic.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: italic;
  }
  
  body{
    font-family: 'Satoshi-Regular'; 
    color: white;

  }

  .bg{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1000;
    bottom: 0;
    background-image: linear-gradient(215deg, rgb(31, 31, 31) 0%, rgb(0, 0, 0) 100%);
  }

  
  .dash-menu{
    position: fixed;
    left: 2em;
    top: 2em;
    bottom: 2em;
    border: 1px solid #212121;
background: rgba(0, 0, 0, 0.06);
padding-left: 2.5em;
padding-right: 2.5em;
border-radius: 24px;
  }

  .dash-links{
    margin-top: 3.5em;
  }

  .dash-link{
    margin-bottom: 2.5em;
    opacity: 20%;
    transition: all 0.5s ease;
  }

  .dash-link:hover{
    opacity: 80%;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .dash-link-img{
    max-width: 1.54em;

  }
  .active{
    color: white;
    opacity: 100%;
  }

.profile-img{
  width: 2em;
  position: absolute;
  bottom: 2em;
  height: 2em;
  border-radius: 50%;
}

.dashboard{
  left: 12em;
  top: 2em;
  bottom: 2em;
  position: absolute;
  right: 0;
}
.dash-title{
  padding-top: .5em;
  border-radius: 3em;
  padding-bottom: .5em;
  background: rgba(36, 36, 36, 0.26);
  padding-left: 2.5em;
  display: inline-block;
  transition: all 0.5s ease;
  padding-right: 2.5em;
}
#dash-title{
  font-family: 'Satoshi-Medium';
  letter-spacing: 0.01em;
  font-size: .9em;
  font-weight: 500;
  cursor:default;
}

::selection{
  color: black;
  background-color: white;
}

.dash-title:hover{
  color: rgb(216, 216, 216);
  background-color: rgba(0, 0, 0, 0.3);
}

.dash-actions{
  display: inline-block;
  position: absolute;
  right: 4em;
  margin-top: .25em;
}

.actns{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.dash-search-icon{
  display: inline-block;vertical-align: middle;
}
#dash-search-icon{
  background-color: white;
  width: 4em;
  position: relative;
  height: 4em;
  border-radius: 50%;
}

.dash-search-img{
  position: absolute;
  left: 48%;
  top: 49%;
  width: 1.3em;
  height: 1.3em;
  transform: translate(-50%, -50%);
}

.dash-search{
  flex-shrink: 0;
  border-radius: 92.242px;
background: rgba(63, 63, 63, 0.26);
width: 23em;
height: 4em;
display: inline-block;
vertical-align: middle;
}

#search-input{
  display: inline-block;
  vertical-align: middle;
  background-color: none;
  outline: none;
  border: none;
  font-family: 'Satoshi-Medium';
  background: none;
  color: #F5F5F5;
  position: absolute;
  top: 1.7em;
  left: 6.5em;
  width: 20em;
  font-size: .8em;
}

#search-input::placeholder{
  font-family: 'Satoshi-Medium';
  color:#c1c1c1;
}

.dash-time{
  display: inline-block;
  vertical-align: middle;
  border-radius: 3em;
  width: 8.5em;
  margin-left: .5em;
  height: 4em;
background: rgba(63, 63, 63, 0.26);
}

.actions-img{
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 2.5em;
  transform: translate(-50%, -50%)
}

.dash-notif, .dash-alert{
  display: inline-block;
  vertical-align: middle;
  border-radius: 3em;
  width: 4em;
  position: relative;
  margin-left: .5em;
  transition: all .5s ease;
  height: 4em;
background: rgba(63, 63, 63, 0.26);
}


.dash-notif:hover, .dash-alert:hover{
  background-color: rgba(63, 63, 63, .6);
}

#dash-time{
  position: absolute;
  margin-left: 1.5em;
  margin-right: 1.5em;
  top: 50%;
  transform: translateY(-50%);
}

#dash-time-icon{
  display: inline-block;
  vertical-align: middle;
}

#dash-time-txt{
  display: inline-block;
  vertical-align: middle;
  font-weight: 100;
  font-family: 'Satoshi-Light';
  margin-left: 1.3em;
}

.training{
  background: rgba(10, 9, 9, 0.404);
backdrop-filter: blur(31.548269271850586px);
height: 16em;
border-radius: 1em;
display: inline-block;
vertical-align: middle;
border: 0.2px solid #3C3C3C;

}

.dash-section-two{
  margin-top: 2em;
  display: grid;
  grid-template-columns: 38% 30%;
}

#dash-nearby{
  max-height: 16em;
  margin-left: 1em;
  user-select: none;
  -webkit-user-drag: none;
  max-width: fit-content;
}

.dash-file-icon{
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: white;

}

#file-title{
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  font-size: 16.299px;
  font-style: normal;
  font-weight: 400;
  margin-left: .75em;
  line-height: normal;
}
.file-title{
  display: inline-block;
  vertical-align: middle;
}
#dash-file-icon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dash-files{
  border-radius: 24px;
  height: 18em;
border: 0px solid rgba(255, 255, 255, 0.45);
background: rgba(17, 17, 17, 0.69);
backdrop-filter: blur(31.548269271850586px);
}

::-webkit-scrollbar{
  background-color: none;
  width: 4px;
}


::-webkit-scrollbar-thumb{
  border-radius: 1em;
  background:#212121;
}

::-webkit-scrollbar-thumb:hover{
  background:#363636;
}
.file-nav{
  margin-top: 1.25em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.dash-section-three{
  display: grid;
  grid-template-columns: 28% 60%;
  margin-top: 1em;
}
.file-actions{
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 1.5em;
  margin-top: .75em;
}

.file-action{
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-left: .5em;
  transition: all .5s ease-in-out;
}
.file-action:hover{
  opacity: 70%;
}

.file-details{
  cursor: pointer;
  width: 80%;
  height: 3.5em;
  border-radius: 139.966px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
border: 0.5px solid #363636;
background: rgba(21, 21, 21, 0.00);
}

.file-del{
  display: inline-block;
  vertical-align: middle;
  opacity: 40%;
  margin-left: 1em;
  margin-top: .3em;
}

.files{
  margin-left: 1.5em;
  overflow: auto;
  height: 12em;
  padding-right: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.file-info{
  position: absolute;
  top: 50%;
  padding-left: 1em;
  padding-right: 1em;
  transform: translateY(-50%);
}

.file-main{
  margin-top: 1em;
}

.dash-fileicon{
  display: inline-block;
  vertical-align: middle;
}

.dash-filename{
  margin-left: .5em;
  font-family: 'Satoshi-Light';
  font-weight: 300;
  display: inline-block;vertical-align: middle;
}

.dash-missions{
  display: grid;
  column-gap: .5em;
  grid-template-columns: 7% auto 7%;
}

.dash-missionss{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-left: 1em;
}

.missions-navbtn{
  height: 21em;
  border-radius: 10em;
  position: relative;border: 0.5px solid #4F4F4F;
  background: #0F0F0F;
  backdrop-filter: blur(31.548269271850586px);
  
}

.mission-navbtn{
  max-width: .75em;
}

.dash-mission{
  border: 0.5px solid #4F4F4F;
background: #0F0F0F;
border-radius: 1.5em;
backdrop-filter: blur(31.548269271850586px)
}

.mission-title{
  border-radius: 58.887px;
background: rgba(63, 63, 63, 0.26);
width: 7em;
height: 2em;
position: absolute;
left: 50%;
transform: translateX(-50%);
margin-top: 1em;
}

#mission-title{
  text-align: center;
  font-size: .6em;
  top: 50%;
  font-family: 'Satoshi-Regular';
  line-height: normal;
}