<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probe / Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="bg"></div>
  <div class="dash-menu">
    <div class="dash-links">
      <div class="dash-link active">
        <img src="/static/assets/icons/dash-home.svg" class="dash-link-img" alt="">
      </div>
      <div class="dash-link">
        <img src="/static/assets/icons/dash-chat.svg" class="dash-link-img" alt="">
      </div>
      <div class="dash-link">
        <img src="/static/assets/icons/dash-cipher.svg" class="dash-link-img" alt="">
      </div>
      <div class="dash-link">
        <img src="/static/assets/icons/dash-resources.svg" class="dash-link-img" alt="">
      </div>
      <div class="dash-link">
        <img src="/static/assets/icons/dash-map.svg" class="dash-link-img" alt="">
      </div>
      <div class="dash-link">
        <img src="/static/assets/icons/dash-request.svg" class="dash-link-img" alt="">
      </div>
    </div>
    <div class="dash-profile">
      <img src="/static/uploads/user/6e9687170161081.6459572c39744.jpg" class="profile-img" alt="">
    </div>
  </div>
    <div class="dashboard">
      <div class="dash-section-one">
        <div class="dash-title"><p id="dash-title">Dashboard / Systummmm</p></div>
        <div class="dash-actions">
          <div class="dash-search">
            <div id="dash-search-icon">
              <img src="/static/assets/icons/search.svg" class="dash-search-img" alt="">
            </div>
            <input type="text" placeholder="Type something..." id="search-input">
          </div>
          <div class="dash-time">
            <div id="dash-time">
              <img src="/static/assets/icons/time.svg" id="dash-time-icon" alt="">
              <p id="dash-time-txt"></p>
            </div>
          </div>
          <div class="dash-alert" onclick="alert()">

          </div>
          <div class="dash-notif">

          </div>
        </div>
      </div>
      <div class="dash-section-two"></div>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
<script src="/static/main.js"></script>