<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probe / Home</title>
    <link rel="shortcut icon" href="/static/assets/icons/favn.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="loading">
    <div class="load"></div>
  </div>
  <div class="bg"></div>
  <div class="dash-menu">
    <div class="dash-links">
      <div class="dash-link active">
        <img src="/static/assets/icons/dash-home.svg" class="dash-link-img" alt="">
      </div>
      <div class="dash-link goto-chat">
        <img src="/static/assets/icons/dash-chat.svg" class="dash-link-img" alt="">
      </div>
      <div class="dash-link goto-cipher">
        <img src="/static/assets/icons/dash-cipher.svg" class="dash-link-img" alt="">
      </div>
      <div class="dash-link goto-resources">
        <img src="/static/assets/icons/dash-resources.svg" class="dash-link-img" alt="">
      </div>
      <div class="dash-link goto-map">
        <img src="/static/assets/icons/dash-map.svg" class="dash-link-img" alt="">
      </div>
      <div class="dash-link goto-request">
        <img src="/static/assets/icons/dash-request.svg" class="dash-link-img" alt="">
      </div>
    </div>
    <div class="dash-profile">
      <img src="/static/uploads/user/6e9687170161081.6459572c39744.jpg" class="profile-img" alt="">
    </div>
  </div>
    <div class="dashboard">
      <div class="dash-section-one">
        <div class="dash-title"><p id="dash-title">Dashboard / Systummmm</p></div>
        <div class="dash-actions">
          <div class="actns">
            <div class="dash-search">
              <div id="dash-search-icon">
                <img src="/static/assets/icons/search.svg" class="dash-search-img" alt="">
              </div>
              <input type="text" placeholder="Type something..." id="search-input">
            </div>
            <div class="dash-time">
              <div id="dash-time">
                <img src="/static/assets/icons/time.svg" id="dash-time-icon" alt="">
                <p id="dash-time-txt"></p>
              </div>
            </div>
            <div class="dash-alert" onclick="Alert()">
                <img src="/static/assets/icons/alert.svg" class="actions-img" alt="">
            </div>
            <div class="dash-notif">
              <img src="/static/assets/icons/notification.svg" class="actions-img" alt="">
            </div>
          </div>
        </div>
      </div>
      <div id="dash-main">
        <div class="dash-section-two">
          <div class="training">
            <div class="training-title">
              <p id="training-title">TRAINING</p>
            </div>
            <div class="training-level">
              <p id="training-level">{{ .agent.Level }}</p>
            </div>
            <div class="training-modules">
              <center>
                <br>
                <img src="/static/assets/tr.png" class="tr-img" alt="">
              </center>
            </div>
          </div>
          <div class="dash-nearby">
            <img src="/static/assets/nearby.png" id="dash-nearby" alt="">
          </div>
        </div>
        <div class="dash-section-three">
          <div class="dash-files">
            <div class="file-nav">
              <div class="file-title">
                <div class="dash-file-icon">
                  <img src="/static//assets/icons/file.svg" id="dash-file-icon" alt="">
                </div>
                <p id="file-title">your files</p>
              </div>
              <div class="file-actions">
                <img src="/static/assets/icons/grid.svg" class="file-action" alt="">
                <form enctype="multipart/form-data" style="display: inline-block; vertical-align: middle;">
                  <label for="upload-file">
                      <img src="/static/assets/icons/addfile.svg" class="file-action" alt="">
                  </label>
                  <input type="file" name="upload-file" id="upload-file" hidden onchange="uploadFile()">
              </form>
              </div>
            </div>
            <div class="files">
              {{ range .fileNames }}
              <div class="file-main" style="cursor: pointer;">
                <a href="/static/uploads/files/{{.}}" target="_blank">
                <div class="file-details">
                  <div class="file-info">
                    <img src="/static//assets/icons/mp3.svg" class="dash-fileicon" alt="">
                    <p class="dash-filename">{{ . }}</p>
                  </div>
                </div>
              </a>
                <img src="/static/assets/icons/file-del.svg" class="file-del" alt="" onclick="deleteFile('{{ . }}')">
              </div>
              {{end}}
            </div>
          </div>
          <div class="dash-missionss">
            <div class="dash-missions">
              <button class="missions-navbtn">
                <img src="/static/assets/icons/arow.svg" class="mission-navbtn" alt="">
              </button>
              <div class="dash-mission">
                <div id="mission-top">
                  <div class="mission-title">
                    <p id="mission-title">On Going Missions</p>
                    <!-- <img src="/static/assets/icons/addfile.svg" id="reqmision-btn" alt=""> -->
                  </div>
                  <div class="mission-details">
                    <br><br>
                    <div class="mission-details-1">
                      <div class="m-align">
                        <div class="m-details">
                          <p class="mission-details-title">MELTDOWN</p>
                          <img src="/static/assets/tr.png" class="mission-agent-img" alt="">
                          <img src="/static/assets/tr.png" class="m-agent-collaborator" alt="">
                        </div>
                        <div class="m-bio-div">
                          <p class="m-bio">Lorem ipsum dolor sit amet consectetur. A morbi aliquet augue nunc. Nec faucibus in Lorem ipsum dol Lorem ipsum dolor sit amet consectetur. A morbi aliquet augue nunc. Nec faucibus in Lorem or sit amet.or sit amet.</p>
                        </div>
                      </div>
                    </div>
                    <div class="mission-details-2">
                      <div class="m-align">
                        <div class="mission-steps">
                          <div class="mission-step">
                            <div class="mission-step-check"></div>
                            <p class="mission-step-step">extraction</p>
                          </div>
                          <div class="mission-step">
                            <div class="mission-step-check checked"></div>
                            <p class="mission-step-step">information gathering</p>
                          </div>
                          <div class="mission-step">
                            <div class="mission-step-check"></div>
                            <p class="mission-step-step">uploading files</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="mission-viewmore">More details</button>
                </div>
              </div>
              <button class="missions-navbtn">
                <img src="/static/assets/icons/arow.svg" style="rotate: 180deg;" class="mission-navbtn" alt="">
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="missions-fullscreen">
      <div class="fbg"></div>
      <div class="dash-missionss-full">
        <div class="dash-missions-full">
          <button class="missions-navbtn-full">
            <img src="/static/assets/icons/arow.svg" class="mission-navbtn-full" alt="">
          </button>
          <div class="dash-mission-full">
            <div id="mission-top-full">
              <div class="mission-title-full">
                <p id="mission-title-full">On Going Missions</p>
                <!-- <img src="/static/assets/icons/addfile.svg" id="reqmision-btn" alt=""> -->
              </div>
              <div class="mission-details-full">
                <br><br>
                <div class="full-mission-details-1">
                  <div class="m-align-full">
                    <div class="m-details-full">
                      <p class="mission-details-title-full">MELTDOWN</p>
                      <img src="/static/assets/tr.png" class="mission-agent-img-full" alt="">
                      <img src="/static/assets/tr.png" class="m-agent-collaborator-full" alt="">
                    </div>
                    <div class="m-bio-div-full">
                      <p class="m-bio-full">Lorem ipsum dolor sit amet consectetur. A morbi aliquet augue nunc. Nec faucibus in Lorem ipsum dol Lorem ipsum dolor sit amet consectetur. A morbi aliquet augue nunc. Nec faucibus in Lorem or sit amet.or sit amet.</p>
                    </div>
                  </div>
                </div>
                <div class="mission-details-2-full">
                  <div class="m-align-full">
                    <div class="mission-steps-full">
                      <div class="mission-step-full">
                        <div class="mission-step-check-full"></div>
                        <p class="mission-step-step-full">extraction</p>
                      </div>
                      <div class="mission-step-full">
                        <div class="mission-step-check-full checked"></div>
                        <p class="mission-step-step-full">information gathering</p>
                      </div>
                      <div class="mission-step-full">
                        <div class="mission-step-check-full"></div>
                        <p class="mission-step-step-full">uploading files</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mission-details-3-full">
                    <div class="mission-details-3-time">
                        <img src="/static/assets/icons/timee.svg" class="md-3-time" alt="">
                        <p class="md-3-time-txt">23 Jul</p>
                    </div>
                    <div class="mission-details-3-prog">
                      <div class="md-3-sys">
                        <p class="md-3-title">Progress</p>
                        <progress max="100" value="42" class="progressbar"></progress>
                      </div>
                      <p class="m-progress">42</p>
                    </div> 
                    <div class="mission-details-3-det">
                      <div class="mission-threatlvl">
                        <p class="miss-thlvl">Low Threat</p>
                      </div>
                      <div class="mission-location-3">
                        <img src="/static/assets/icons/location.svg" class="mission-location-icon" alt="">
                        <p class="mission-location-txt">Los Angeles, CA</p>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="qwiejqwioee">Add missions</button>
            </div>
          </div>
          <button class="missions-navbtn-full">
            <img src="/static/assets/icons/arow.svg" style="rotate: 180deg;" class="mission-navbtn-full" alt="">
          </button>
        </div>
      </div>
    </div>
</body>
</html><div class="success-cipher">
  <p id="sc-title"> </p>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
<script src="/static/main.js"></script>
<script>
    function uploadFile() {
        var input = document.getElementById("upload-file");
        var file = input.files[0];
        var formData = new FormData();
        formData.append("file", file);

        fetch('/upload', {
            method: 'POST',
            body: formData
        })
        .then(response => response.text())
        .then(result => {
          setTimeout(function(){
                            $(".success-cipher").fadeIn(500);
                            $("#sc-title").text(result)
                            setTimeout(function(){
                                $(".success-cipher").fadeOut();
                            }, 4000)
                        })
            console.log(result);
        })
        .catch(error => {
            console.error('Error:', error);
            setTimeout(function(){
                            $(".success-cipher").fadeIn(500);
                            $("#sc-title").text(error.statusText)
                            setTimeout(function(){
                                $(".success-cipher").fadeOut();
                            }, 4000)
                        })
        });

        input.value = "";
    }
    function deleteFile(filename) {
        if (confirm("Are you sure you want to delete '" + filename + "'?")) {
            var deleteUrl = "/delete?filename=" + encodeURIComponent(filename);
            fetch(deleteUrl, {
                method: 'DELETE'
            })
            .then(response => response.text())
            .then(result => {
              setTimeout(function(){
                            $(".success-cipher").fadeIn(500);
                            $("#sc-title").text(result)
                            setTimeout(function(){
                                $(".success-cipher").fadeOut();
                            }, 4000)
                        })
                console.log(result);
            })
            .catch(error => {
              setTimeout(function(){
                            $(".success-cipher").fadeIn(500);
                            $("#sc-title").text(error.statusText)
                            setTimeout(function(){
                                $(".success-cipher").fadeOut();
                            }, 4000)
                        })
                console.error('Error:', error);
              });
        }
    }
</script>