<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probe / Login</title>
    <link rel="shortcut icon" href="/static/assets/icons/favn.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="bg"
    style="
  background: linear-gradient(45deg, rgb(30, 30, 30) 0%, rgba(0,0,0,1) 100%);

    "></div>
    <div class="cipher-upload">
            <div class="bg"
            style="
          background: linear-gradient(45deg, rgb(30, 30, 30) 0%, rgba(0,0,0,1) 100%);
        
            "></div>
        <form  enctype="multipart/form-data" id="upload-formm">
            <label for="upload" id="upload-label">
                <img  src="/static/assets/icons/upload.svg" id="upload-img" alt="">
            </label>
            <input type="file" accept=".txt" hidden id="upload" >
            <div class="cipher-uploadd">
                <p id="cipher-submittitle">UPLOAD IDENTIFICATION <br>CIPHER</p>
                <button class="cipher-submit">Check cipher</button>
            </div>
        </form>
    </div>
    <div class="success-cipher">
        <p id="sc-title"> Cipher verified</p>
    </div>
    <div class="login">
        <div>
            <img src="/static/assets/login-img.png" id="login-img" alt="">
           
        </div>
        <div class="login-main">
            <img src="/static/assets/icons/favn.svg" class="login-logo" alt="">
            <form method="POST" class="login-form">
                <input type="text" placeholder="Agent ID" id="username" class="login-input">
                <input type="text" placeholder="Password" id="password" class="login-input"> 
                <br>
                <button type="button" class="login-submit">
                    <div class="login-arow"><img src="/static/assets/icons/arow.svg" style="rotate: 90deg;" id="login-arow" alt=""></div>
                    <p id="logn-submit">shystummmm</p>
                </button>
            </form>
        </div>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
<script src="/static/main.js"></script>