<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probe / Request</title>
    <link rel="shortcut icon" href="/static/assets/icons/favn.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="loading">
    <div class="load"></div>
  </div>
  <div class="bg"></div>
  <div class="dash-menu">
    <div class="dash-links">
      <div class="dash-link goto-home">
        <img src="/static/assets/icons/dash-home.svg" class="dash-link-img" alt="">
      </div>
      <div class="dash-link goto-chat">
        <img src="/static/assets/icons/dash-chat.svg" class="dash-link-img" alt="">
      </div>
      <div class="dash-link goto-cipher">
        <img src="/static/assets/icons/dash-cipher.svg" class="dash-link-img" alt="">
      </div>
      <div class="dash-link goto-resources">
        <img src="/static/assets/icons/dash-resources.svg" class="dash-link-img" alt="">
      </div>
      <div class="dash-link goto-map">
        <img src="/static/assets/icons/dash-map.svg" class="dash-link-img" alt="">
      </div>
      <div class="dash-link active goto-request">
        <img src="/static/assets/icons/dash-request.svg" class="dash-link-img" alt="">
      </div>
    </div>
    <div class="dash-profile">
      <img src="/static/uploads/user/6e9687170161081.6459572c39744.jpg" class="profile-img" alt="">
    </div>
  </div>
    <div class="dashboard" >
      <div class="dash-section-one">
        <div class="dash-title"><p id="dash-title">Dashboard / Request</p></div>
        <div class="dash-actions">
          <div class="actns">
            <div class="dash-search">
              <div id="dash-search-icon">
                <img src="/static/assets/icons/search.svg" class="dash-search-img" alt="">
              </div>
              <input type="text" placeholder="Type something..." id="search-input">
            </div>
            <div class="dash-time">
              <div id="dash-time">
                <img src="/static/assets/icons/time.svg" id="dash-time-icon" alt="">
                <p id="dash-time-txt"></p>
              </div>
            </div>
            <div class="dash-alert" onclick="Alert()">
                <img src="/static/assets/icons/alert.svg" class="actions-img" alt="">
            </div>
            <div class="dash-notif">
              <img src="/static/assets/icons/notification.svg" class="actions-img" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="request">
        <div class="req-ms">
            <div class="req-s1">
                <div class="req-backup">
                    
                    <img src="/static/assets/icons/incog.svg" class="backup-icon" alt="">
                    <p id="backup-heading">Request <br>Backup</p>
                </div>
                <div class="req-amt">
                    <center><br>
                        <p id="amt-title">Amount</p>
                        <div class="req-am">
                            <p id="req-amt">4</p>
                        </div>
                    </center>
                    <div class="req-plusminus">
                        <p id="req-plus">+</p>
                        <p id="req-minus">-</p>
                    </div>
                </div>
            </div>
            <div class="req-s2">
                <div class="req-details-2">
                    <div class="m-align">
                      <div class="req-steps">
                        <div class="req-step">
                          <div id="req-right-noww" class="req-step-check"></div>
                          <p  class="req-step-step">Right nowww</p>
                        </div>
                        <div  class="req-step">
                          <div id="req-urgent" class="req-step-check"></div>
                          <p   class="req-step-step">urgent</p>
                        </div>
                        <div class="req-step">
                          <div id="req-not-urgent" class="req-step-check"></div>
                          <p class="req-step-step">not urgent</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="req-s3">
                <br>
                <div id="req-map">
                    <div class="req-latlong">
                        <form onsubmit="return false()" id="coordForm" action="" class="latlong-form coordForm" method="post">
                            <input type="number" max="90" min="-90" step="any" placeholder="latitude" id="latitude"class="req-latlong-input" name="" id="">
                            <input type="number" max="180" min="-180" step="any" placeholder="longitude" id="longitude"class="req-latlong-input" name="" id="">
                            <button type="submit" id="ejej">
                                <img src="/static//assets/icons/search.svg" alt="">
                            </button>
                        </form>
                    </div>
                    <div id="systum">
                        <iframe
                            width="650"
                            height="240"
                            frameborder="0" style="border:0; filter: invert(100%) contrast(83%) grayscale(100%); border-radius: 1em;"
                            src="https://www.openstreetmap.org/export/embed.html?bbox=77.1422,28.5358,77.1422,28.5358&zoom=12">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="req-ss">
            <div class="mayday">
                <p id="mayday-title">MAYDAY CALL</p>
                <button id="mayday-btn" onclick="systumPeSystum()">SEND</button>
            </div>
            <div class="req-transfer">
                <p>Transfer access</p>
                
                <div class="agents">
                    <div class="req-navig">
                        <img src="/static/assets/icons/arow.svg" class="req-navsyd" alt="">
                    </div>
                    <img src="/static/assets/tr.png" class="req-agent" alt="">
                    <div class="req-navsydd">
                        <img src="/static/assets/icons/arow.svg" class="req-navsyd" alt="">
                    </div>
                    <button id="transfer-btn" >transfer</button>

                </div>
            </div>
        </div>
      </div>

    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
<script src="/static/main.js"></script>
<script>
    
document.querySelector('.coordForm').addEventListener('submit', function (e) {
    e.preventDefault();
event.preventDefault()
    const latitude = document.getElementById('latitude').value;
    const longitude = document.getElementById('longitude').value;

    const apiKey = '067d360f9b534d7897b0b0b8a51e5b7d';

    fetch(`https://api.opencagedata.com/geocode/v1/json?q=${latitude}+${longitude}&key=${apiKey}`)
        .then(response => response.json())
        .then(data => {
            if (data.results.length > 0) {
                const address = data.results[0].formatted;
                // document.getElementById('address').textContent = `Address: ${address}`;

                const mapContainer = document.getElementById('systum');
                mapContainer.innerHTML = `
            
            <iframe
                width="650"
                height="240"
                frameborder="0" style="border:0; filter: invert(100%) contrast(83%) grayscale(100%); border-radius: 1em;"
                        src="https://www.openstreetmap.org/export/embed.html?bbox=${longitude},${latitude},${longitude},${latitude}&zoom=12">
                    </iframe>`;
            } else {
                document.getElementById('address').textContent = 'Address not found';
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
});
</script>
